<section id="section-navbar">

		<nav class="navbar fixed-top navbar-expand-lg navbar-dark container-fluid bg-blue" id="nav">
			<div class="container">

				<a class="navbar-brand h2 mb-0" href="#">
					<%= image_tag("surf.svg", size: "150x55", :alt => "Surf Logo") -%>
				</a>

				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite" aria-controls="navbarSite" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSite">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-bunner">Sobre</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-services">Serviços</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-team">Aulas de Surf</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-portifolium">Pranchas de Surf</a>
						</li>
						<li class="nav-item">
							<a class="nav-link nav-link--fonte" href="#section-contact">Contato</a>
						</li>
					</ul>
				</div>
			</div>
			<form class="form-inline my-2 my-lg-0">
			    <input class="form-control mr-sm-2" type="search" placeholder="Pesquisar" aria-label="Pesquisar">
			    <button class="btn btn-success my-2 my-sm-0" type="submit">Pesquisar</button>
   			</form>
		</nav>
</section>

