<section id="section-services" class="services__background">
    <div  class="services">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="services__h1 services__h1--font"><span class="services__h1--colorBlue">NOSSOS SERVIÇOS</span></h1>
                </div>  
            <div class="row">
                <div class="col-sm-4 service__marginTop">
                    <div class="service__card">
                        <%= image_tag 'tools.svg', class: 'service__icon'%>
                        <h3 class="service__title">Manutenção de Pranchas</h3>
                        <p class="service__text">
                            Sua prancha quebrou? Precisa de parafina? Deixou exposta ao sol e danificou a resina? Entre em contato conosco!
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 service__marginTop">
                    <div class="service__card">
                        <%= image_tag 'surfer.svg', class: 'service__icon'%>
                        <h3 class="service__title">Aulas de Surf</h3>
                        <p class="service__text">
                            Não importa sua idade, temos aulas para todos. Entre em contato e venha surfar!
                        </p>
                    </div>
                </div>
                <div class="col-sm-4 service__marginTop">
                    <div class="service__card">
                        <%= image_tag 'rent.svg', class: 'service__icon'%>
                        <h3 class="service__title">Aluguel de Pranchas</h3>
                        <p class="service__text">
                        Ficou com aquela vontade de surfar mas não tem uma prancha? Nós alugamos para você!
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

