<section id="section-team">
    <div class="team">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="team__h1">
                        <span>AULAS DE SURF</span>
                    </h1>
                </div>
            </div>
            <div class="card service__card">
                <div class="card-header team__title">
                    TIPOS DE AULAS
                </div>
                <div class="card-body">
                    <h5 class="card-title team__title">Particular e em Grupo</h5>
                    <p class="card-text team__text"><span class="team__title1">Aulas Particulares:</span> São aulas em que se juntam os alunos em função dos seus conhecimentos/experiência de surf e da sua idade.</p>
                    <p class="card-text team__text"><span class="team__title1">Aulas em Grupos:</span> Aulas que podem ser marcadas com grande flexibilidade de horário e que geralmente são apropriadas para quem procura uma rápida evolução num curto espaço de tempo.</p>
                </div>
            </div>
            <br>
            <div class="card service__card">
                <div class="card-header team__title">
                    DURAÇÃO POR AULA
                </div>
                <div class="card-body">
                    <h5 class="card-title team__title">Particular e em Grupo</h5>
                    <p class="card-text team__text">Cada aula de surf tem a duração de 2 horas, sendo 1h30min na água a surfar com o acompanhamento do treinador e 30min na areia que correspondente ao aquecimento, palestra teórica e prática das técnicas do Surf na areia.</p>
                </div>
            </div>
            <br>
            <div class="card service__card">
                <div class="card-header team__title">
                    INCLUSO NAS AULAS DE SURF
                </div>
                <div class="card-body">
                    <h5 class="card-title team__text">Prancha de Surf, fato isotérmico e cordinha;</h5>
                    <h5 class="card-title team__text">Transporte para as praias;</h5>
                    <h5 class="card-title team__text">Treinadores certificados e experientes.</h5>
                </div>
            </div>
            <br>
        </div>
    </div>
</section>