// CSS DO FOOTER 
.footer {
  background-color: #F0F078;
}
.footer__p--container {
  text-align: center;
  color: #2492F3;
  height: 4.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__p {
  margin: 0px;
}
.footer__linha {
  background-color: #F5A780;
  height: 4px;
}
