/* CSS DA NAVBAR */

.nav-link--fonte{
    color: #FFFFFF !important;
    font-size: 1.5em;
    letter-spacing: 0.4px;
    padding-right: 20px!important;
}

#nav.shrink {
  transition: all ease .5s;
  background: #3BA4FA !important;
}

@media (max-width: 768px) {
	.bg-blue{
		background: #2492f3f7 !important;
	}
}
